# Q2_Part1

In [2]:
import pandas as pd

# import data from employee compensation csv file

In [5]:
df = pd.read_csv('Data/employee_compensation.csv')
df.shape
df.head()

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,4,Community Health,DPH,Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2600,Dietary & Food,...,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,5,Culture & Recreation,REC,Recreation and Park Commission,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68

# Create empty DataFrames

In [6]:
from pandas import Series, DataFrame
dfGroup = DataFrame()
dfRequired = DataFrame()
dfResult = DataFrame()

# Group By Column 'Organization Group', 'Department' group and find mean

In [39]:
dfGroup = df.groupby(['Organization Group', 'Department']).mean().reset_index()
dfGroup.head()

,Organization Group,Department,Year,Organization Group Code,Union Code,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Community Health,Public Health,2014.526637,4.0,546.874501,27581.586761,64439.933599,1537.375993,4456.426791,70433.736383,12293.745146,8272.922619,5189.785992,25756.453757,96190.190140
1,Culture & Recreation,Academy of Sciences,2014.495726,5.0,39.000000,35759.222222,65104.676068,4110.572308,8774.288803,77989.537179,13221.395299,9856.260769,6252.534444,29330.190513,107319.727692
2,Culture & Recreation,Arts Commission,2014.500000,5.0,594.867978,27780.404494,65770.560000,0.000000,194.028258,65964.588258,12715.266180,9920.138483,5739.604466,28375.009129,94339.597388
3,Culture & Recreation,Asian Art Museum,2014.527190,5.0,686.294562,28009.910876,46259.343520,1894.722840,1731.173112,49885.239471,8870.477281,8371.461511,4274.341798,21516.280589,71401.520060
4,Culture & Recreation,Fine Arts Museum,2014.370082,5.0,739.807411,28558.108417,27374.663051,3374.973577,1126.805782,31876.442411,4257.649250,5395.513632,2675.834602,12328.997484,44205.439895

In [68]:
dfRequired = dfGroup[['Organization Group', 'Department','Total Compensation']]
dfRequired.head()

     Organization Group           Department  Total Compensation
0      Community Health        Public Health        96190.190140
1  Culture & Recreation  Academy of Sciences       107319.727692
2  Culture & Recreation      Arts Commission        94339.597388
3  Culture & Recreation     Asian Art Museum        71401.520060
4  Culture & Recreation     Fine Arts Museum        44205.439895

# sort from max to min based on total compensation

In [107]:
dfResult = dfRequired.sort_values(['Organization Group','Total Compensation'], ascending=[True,False])
dfResult.head()

     Organization Group           Department  Total Compensation
0      Community Health        Public Health        96190.190140
5  Culture & Recreation          Law Library       188424.362222
1  Culture & Recreation  Academy of Sciences       107319.727692
2  Culture & Recreation      Arts Commission        94339.597388
8  Culture & Recreation         War Memorial        76250.068022

# Save data to csv file

In [109]:
dfResult.to_csv('Q2_Part1.csv',index = False, sep=',')